<div class="d-flex justify-content-between">
  <h3>لیست کالاهای فروشنده</h3>
  <button  routerLink="create_material" class="btn btn-info d-flex align-items-center justify-content-around btn-sm">
    <mat-icon>add</mat-icon>
    <p class="text-white mb-0">افزودن کالا</p>
  </button>
</div>

<div class="section mb-5">
  <h3 class="text-secondary">جستجو بر اساس عنوان</h3>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-info input-group-text"><mat-icon>search</mat-icon></button>
    </div>
    <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>

<table class="my-table">
  <thead class="my-thead">
    <tr>
      <th>کالاهای من</th>
      <th>عنوان</th>
      <th>قیمت(تومان)/واحد</th>
      <th>وضعیت</th>
      <th>عملیات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials" class="my-tr">
      <td class="first-td">
        <img src={{material.material.image}} alt="">
      </td>
      <td><a routerLink="">{{material.material.name}}</a></td>
      <td class="prices">
        <div class="prices-main-div">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column" *ngFor="let price of material.prices">
              <span>واحد: {{price.unit}}</span>
              <input [(ngModel)]="price.amount" class="form-control">
            </div>
          </div>
          <!-- <button class="btn btn-info btn-block btn-sm">بروزرسانی سریع</button> -->
        </div>
      </td>
      <td>
        <mat-slide-toggle [checked]="material.material.status" (change)="material.material.status = !material.material.status"></mat-slide-toggle>
      </td>
      <td>
        <mat-icon class="text-success" (click)="saveMaterial(material)">check</mat-icon>
        <mat-icon class="text-warning">edit</mat-icon>
        <mat-icon class="text-danger">delete</mat-icon>
      </td>
    </tr>
  </tbody>
</table>