<div class="topnav" [style.width]="navIsOpen? '100%': '50px'">
  <a (click)="toggleNav()" class="nav-brand" *ngIf="navIsOpen">
    <mat-icon>person</mat-icon>
    <span class="mt-1 mr-2">{{username}}</span>
  </a>
  <a (click)="toggleNav()" *ngIf="!navIsOpen"><mat-icon>menu</mat-icon></a>
</div>
<div class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-icon>phone</mat-icon>
  <mat-icon>notifications</mat-icon>
  <mat-icon>search</mat-icon>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="arrangeMenu()">
    <mat-icon>dialpad</mat-icon>
    <span>تنظیم منو</span>
  </button>

</mat-menu>
<div id="mySidenav" class="sidenav" [style.width]="navIsOpen? '250px': '50px'">
  <!-- <a class="closebtn" (click)="closeNav()">&times;</a> -->
  <a *ngIf="!navIsOpen" href="#"><mat-icon>dashboard</mat-icon></a>
  <a routerLink="/modern/dashboard" class="expanded dashboard" *ngIf="navIsOpen"><mat-icon>dashboard</mat-icon><span class="mr-3">داشبورد</span></a>

  <mat-accordion>
    <mat-expansion-panel *ngIf="navIsOpen" id="groups">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>category</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          گروهها
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a (click)="showCategories(0)">سطح صفر</a>
      <a (click)="showCategories(1)">سطح یک</a>
      <a (click)="showCategories(2)">سطح دو</a>
      <a (click)="showCategories(3)">سطح سه</a>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="navIsOpen" id="products">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>inventory</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          کالاها
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a routerLink="/modern/manage_materials">مدیریت کالاها</a>
      <a routerLink="/modern/create_material">تعریف کالای جدید</a>
      <!-- <a routerLink="/modern/active_materials">کالاهای فعال</a>
      <a routerLink="/modern/inactive_materials">کالاهای غیر فعال</a>
      <a routerLink="/modern/suggested_materials">کالاهای پیشنهادی</a> -->
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="navIsOpen" id="services">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>home_repair_service</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          خدمات
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a routerLink="/modern/manage_services">مدیریت خدمات</a>
      <a routerLink="/modern/create_service">تعریف خدمت جدید</a>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="navIsOpen" id="sellers">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>shopping_basket</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          فروشنده ها
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a routerLink="/modern/manage_sellers">مدیریت فروشنده ها</a>
      <a routerLink="/modern/create_seller">ایجاد فروشنده جدید</a>
    </mat-expansion-panel>
  </mat-accordion>
  
  <a *ngIf="!navIsOpen" href="#"><mat-icon>category</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>inventory</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>home_repair_service</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>shopping_basket</mat-icon></a>

  <!-- <a *ngIf="!navIsOpen" href="#"><mat-icon>info</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>flight</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"> <mat-icon>fastfood</mat-icon></a>
  <a class="expanded product" *ngIf="navIsOpen" routerLink="myProducts"><mat-icon>flight</mat-icon><span class="mr-3">کالاهای من</span></a>
  <a class="expanded product" *ngIf="navIsOpen" href="#"> <mat-icon>fastfood</mat-icon><span class="mr-3">افزودن کالا</span></a>
  
  <a *ngIf="!navIsOpen" href="#"><mat-icon>flight</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"> <mat-icon>fastfood</mat-icon></a>
  <a class="expanded service" *ngIf="navIsOpen" href="#"><mat-icon>flight</mat-icon><span class="mr-3">خدمات من</span></a>
  <a class="expanded service" *ngIf="navIsOpen" href="#"> <mat-icon>fastfood</mat-icon><span class="mr-3">افزودن خدمت</span></a> -->
  <a *ngIf="!navIsOpen" href="#"><mat-icon>group</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>pie_chart</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>assignment</mat-icon></a>
  <a *ngIf="!navIsOpen" routerLink="/modern/messages"><mat-icon>message</mat-icon></a>
  <a *ngIf="!navIsOpen" href="#"><mat-icon>lock_open</mat-icon></a>
  <a *ngIf="!navIsOpen" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a>

  <a class="expanded users" *ngIf="navIsOpen" routerLink="/modern/manage_users"><mat-icon>group</mat-icon><span class="mr-3">کاربران</span></a>
  <a class="expanded statistics" *ngIf="navIsOpen" href="#"><mat-icon>pie_chart</mat-icon><span class="mr-3">آمار</span></a>
  <a class="expanded invoices" *ngIf="navIsOpen" href="#"><mat-icon>assignment</mat-icon><span class="mr-3">فاکتورها</span></a>
  <a class="expanded messages" *ngIf="navIsOpen" routerLink="/modern/messages"><mat-icon>message</mat-icon><span class="mr-3">پیام ها</span></a>
  <a class="expanded change-password" *ngIf="navIsOpen" href="#"><mat-icon>lock_open</mat-icon><span class="mr-3">تغییر رمز عبور</span></a>
  <a class="expanded logout" *ngIf="navIsOpen" (click)="logout()"><mat-icon>exit_to_app</mat-icon><span class="mr-3">خروج</span></a>
</div>
<div id="main" [style.margin-right]="navIsOpen? '250px': '43px'">
  <router-outlet></router-outlet>
</div>
