<div class="section p-0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">عمران مدرن</a></li>
      <li class="breadcrumb-item"><a>گروه ها</a></li>
      <li *ngIf="deep == 0" class="breadcrumb-item" aria-current="page"><a routerLink="/modern/categories">زیرگروه صفر</a></li>
      <li *ngIf="deep == 1" class="breadcrumb-item" aria-current="page"><a routerLink="/modern/categories">زیرگروه یک</a></li>
      <li *ngIf="deep == 2" class="breadcrumb-item" aria-current="page"><a routerLink="/modern/categories">زیرگروه دو</a></li>
      <li *ngIf="deep == 3" class="breadcrumb-item" aria-current="page"><a routerLink="/modern/categories">زیرگروه سه</a></li>
      <li *ngIf="mode=='edit'" class="breadcrumb-item active" aria-current="page">ویرایش</li>
      <li *ngIf="mode=='create'" class="breadcrumb-item active" aria-current="page">ایجاد</li>
    </ol>
  </nav>
</div>
<app-main-detail [mode]="mode" *ngIf="initialized"></app-main-detail>
<app-related *ngIf="mode == 'edit' && initialized"></app-related>  
<app-category-attributes *ngIf="mode == 'edit' && initialized"></app-category-attributes>
<app-partial-categories type="childs" *ngIf="mode == 'edit' && initialized"></app-partial-categories>