<div class="section">
      <div class="form-group">
          <label>عنوان گروه</label>
          <input class="form-control" [(ngModel)]="category.name" (change)="nameChanged = true">
      </div>
      <div *ngIf="deep != 0" class="mb-3">
        <label>گروه های والد</label>
        <ng-multiselect-dropdown 
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)"
          [placeholder]="'گروه های والد'"
          [settings]="dropdownSettings"
          [data]="categories"
          [(ngModel)]="selectedCategories">
        </ng-multiselect-dropdown>  
      </div>   

      <label>توضیحات</label>
      <!-- <ckeditor id="editor"></ckeditor> -->
      <!-- <ckeditor id="editor" [config]="config" [(ngModel)]="category.explain" [editor]="editor"></ckeditor> -->
      <ckeditor id="editor" (change)="onChange($event)" [config]="config" [(ngModel)]="category.explain" [editor]="editor"></ckeditor>
      <input #fileInput type="file" class="file-input" (change)="onFileChanged($event)">
      <button *ngIf="!deletedImage && mode == 'edit'" class="btn btn-outline-danger mt-4" (click)="deleteImage()">حذف عکس قبلی</button>
      <div *ngIf="deletedImage || mode == 'create'" (click)="fileInput.click()" class="mt-4 d-flex align-items-center cursor-pointer">
        <mat-icon> attach_file</mat-icon>
        <span>افزودن عکس گروه</span>
      </div>
      <!-- <button class="btn btn-success btn-sm mt-2" [disabled]="inProgress" type="button" (click)="fileInput.click()">انتخاب عکس</button> -->
      <div *ngFor="let section of sections; index as i" class="section row d-flex align-items-center">
        <div class="col-1"><mat-icon (click)="removePicture(i)">cancel</mat-icon></div>
        <div class="col-9 d-flex flex-column">
          <span class="ml-auto mb-1">{{section.progressPercent}}%</span>
          <mat-progress-bar class="" [value]="section.progressPercent"></mat-progress-bar>
        </div> 
        <div class="col-2" *ngIf="section.finished">
          <img src={{section.src}} class="w-100">         
        </div>
      </div>
      <div class="my-4 px-1">
        <mat-checkbox class="mt-4" [(ngModel)]="category.is_cluster">تعریف گروه به عنوان خوشه</mat-checkbox>
      </div>
      <div class="d-flex justify-content-center">
        <button  class="btn btn-info w-25 mt-2" (click)="submit()">ذخیره</button>    
      </div>    
</div>