<div class="row">
    <div class="col-md-3 pr-0">
      <a href="compose.html" class="btn btn-primary btn-block mb-3">ایجاد پیام جدید</a>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title mb-0">پوشه‌ها</h3>
        </div>
        <div class="card-body p-0 body-content">
            <div class=" pooshe">
                <div class="text">
                    <mat-icon>inbox</mat-icon>
                    <label class="mb-0">صندوق</label>
                </div>
                <span class="badge badge-primary mr-auto">12</span>
            </div>
            <div class=" pooshe">
                <div class="text">
                    <mat-icon>outgoing_mail</mat-icon>
                    <label class="mb-0">ارسال شده</label>
                </div>
            </div>
            <div class=" pooshe">
                <div class="text">
                    <mat-icon>delete_outline</mat-icon>
                    <label class="mb-0">سطل زباله</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
      </div>


      <div class="card">
        <div class="card-header">
          <h3 class="card-title mb-0">برچسب‌ها</h3>
        </div>
        <div class="card-body p-0 body-content">
            <div class="pooshe">
                <div class="text">
                    <mat-icon>label_important</mat-icon>
                    <label class="mb-0">مهم</label>
                </div>
                <span class="badge badge-danger mr-auto">8</span>
            </div>
            <div class=" pooshe">
                <div class="text">
                    <mat-icon>insert_invitation</mat-icon>
                    <label class="mb-0">اینستاگرام</label>
                </div>
                <span class="badge badge-warning mr-auto">8</span>
            </div>
            <div class="pooshe">
                <div class="text">
                    <mat-icon>sick</mat-icon>
                    <label class="mb-0">هرز</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
</div>