<div class="row">
    <div class="col-md-3 pr-0">
      <a href="compose.html" class="btn btn-primary btn-block mb-3">ایجاد پیام جدید</a>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title mb-0">پوشه‌ها</h3>
        </div>
        <div class="card-body p-0 body-content">
            <div class=" pooshe" (click)="showSection('showInbox')">
                <div class="text">
                    <mat-icon>inbox</mat-icon>
                    <label class="mb-0">صندوق</label>
                </div>
                <span class="badge badge-primary mr-auto">12</span>
            </div>
            <div class=" pooshe" (click)="showSection('showComments')">
                <div class="text">
                    <mat-icon>comment</mat-icon>
                    <label class="mb-0">کامنت های جدید</label>
                </div>
                <span class="badge badge-primary mr-auto" *ngIf="comments.length !== 0">{{comments?.length}}</span>
            </div>
            <div class=" pooshe" (click)="showSection('showSent')">
                <div class="text">
                    <mat-icon>outgoing_mail</mat-icon>
                    <label class="mb-0">ارسال شده</label>
                </div>
            </div>
            <div class=" pooshe" (click)="showSection('showTrashed')">
                <div class="text">
                    <mat-icon>delete_outline</mat-icon>
                    <label class="mb-0">سطل زباله</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title mb-0">برچسب‌ها</h3>
        </div>
        <div class="card-body p-0 body-content">
            <div class="pooshe" (click)="showSection('showImportant')">
                <div class="text">
                    <mat-icon>label_important</mat-icon>
                    <label class="mb-0">مهم</label>
                </div>
                <span class="badge badge-danger mr-auto">8</span>
            </div>
            <div class=" pooshe"  (click)="showSection('showInstagram')">
                <div class="text">
                    <mat-icon>insert_invitation</mat-icon>
                    <label class="mb-0">اینستاگرام</label>
                </div>
                <span class="badge badge-warning mr-auto">8</span>
            </div>
            <div class="pooshe" (click)="showSection('showSpam')">
                <div class="text">
                    <mat-icon>sick</mat-icon>
                    <label class="mb-0">هرز</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>

    <div class="col-md-9 pl-0">
        <div class="section" *ngIf="showSections.showComments">
            <div *ngFor="let comment of comments" class="comment section-gray">
                <div class="d-flex justify-content-between">
                    <div class="comment-identifier">
                        <h4 class="mb-0">{{comment.name}}</h4>
                        <p class="text-muted text-sm mb-0">{{comment.date| persianDate| persianNumber}}</p>
                    </div>
                    <div>
                        <mat-icon class="text-success" (click)="approveComment(comment)">check</mat-icon>
                        <mat-icon class="text-danger" (click)="deleteComment(comment)">delete</mat-icon>
                    </div>
                </div>
                <p class="mt-3">{{comment.text}}</p>
            </div>
            <div class="alert alert-danger" *ngIf="comments?.length === 0">کامنت جدیدی برای نمایش وجود ندارد!</div>
        </div>
    </div>
</div>