.first-td {
    max-width: 250px;
}
.first-td img {
    width: 120px;
}
.first-td img {
    height: 120px;
}
td p {
    margin-bottom: 0;
}
table a {
    color: #0477a5;
    font-weight: 450;
}
td p {
    text-align: center;
}