<div class="section p-0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/modern/dashboard">عمران مدرن</a></li>
      <li class="breadcrumb-item active">خدمت ها</li>
      <li class="breadcrumb-item active" aria-current="page">مدیریت خدمت ها</li>
    </ol>
  </nav>
</div>

<div class="d-flex justify-content-between">
  <h3>لیست خدمت ها</h3>
  <button class="btn btn-info d-flex align-items-center btn-sm">
    <mat-icon>add</mat-icon>
    <a routerLink="create_service" class="text-white">افزودن خدمت جدید</a>
  </button>
</div>

<div class="section d-flex py-2 mt-5">
  <div class="d-flex align-items-center">
    <mat-icon>sort</mat-icon>
    <h3 class="mb-0 mr-1">مرتب سازی بر اساس</h3>
  </div>
  <div class="mr-5">
    <button class="btn btn-info btn-sm mx-1">جدیدترین</button>
    <button class="btn btn-info btn-sm mx-1">قدیمی ترین</button>
    <button class="btn btn-info btn-sm mx-1">حروف الفبا</button>
  </div>
</div>

<div class="section">
  <div class="section-gray mb-5 d-flex">
    <mat-radio-group [(ngModel)]="selectedStatus" (change)="activityChanged()">
      <mat-radio-button *ngFor="let item of statuses" [value]="item.value">
        {{item.viewValue}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-slide-toggle class="mr-auto" checked="false" (change)="chageTableMode()"><span class="mr-1">خدمت های مادر</span></mat-slide-toggle>
  </div>
  <h3 class="text-secondary">جستجو بر اساس عنوان</h3>
  <div class="section-gray mb-5">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-info input-group-text"><mat-icon>search</mat-icon></button>
      </div>
      <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>

  <table class="my-table" *ngIf="tableMode">
    <thead class="my-thead">
      <tr>
        <th class="first-th">خدمت های من</th>
        <th>عنوان</th>
        <th>گروه</th>
        <th>خدمت های مادر</th>
        <th *ngIf="selectedStatus == 'active'">تعداد فروشنده ها</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services" class="my-tr">
        <td class="first-td">
          <img src={{service.images}} alt="">
        </td>
        <td><a routerLink="">{{service.name}}</a></td>
        <td><a routerLink="">{{service.category.item_name}}</a></td>
        <td>
          <div class="d-flex flex-column align-items-center">
            <p class="mb-0" *ngFor="let mother of service.mothers"><a routerLink="">{{mother.item_name}}</a></p>
          </div>
        </td>
        <td *ngIf="selectedStatus == 'active'">
          <p *ngIf="service.sellers.length == 0">فروشنده ای ندارد</p>
          <p *ngIf="service.sellers.length != 0"><a srouterLink="">مشاهده {{service.sellers.length}} فروشنده</a></p>
        </td>
        <td>
          <mat-icon class="text-warning">edit</mat-icon>
          <mat-icon class="text-danger">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="my-table" *ngIf="!tableMode">
    <thead class="my-thead">
      <tr>
        <th class="first-th">خدمت مادر</th>
        <th>عنوان</th>
        <th>گروه</th>
        <th>فرزندها</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of motherServices" class="my-tr">
        <td class="first-td">
          <img src={{service.images}} alt="">
        </td>
        <td><a routerLink="">{{service.name}}</a></td>
        <td><a routerLink="">{{service.category.item_name}}</a></td>
        <td>
          <p *ngIf="service.childs.length == 0">فرزندی ندارد</p>
          <p *ngIf="service.childs.length != 0"><a srouterLink="">مشاهده {{service.childs.length}} فرزند</a></p>
        </td>
        <td>
          <mat-icon class="text-warning">edit</mat-icon>
          <mat-icon class="text-danger">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>