@import url(fontiran.css);

app-root {
  display: flex;
  flex-direction: column;
}

body :not(button):not(.ck-content):not(.ck-content *){
  font-family: IRANSans;
  direction: rtl;
  text-align: right;
}
.ck-content[dir=rtl] {
  direction: rtl;
}
.ck-content[dir=ltr] {
  direction: ltr;
}
 .ck-content * {
  direction: inherit;
  text-align: unset;
}
.ck.ck-editor__editable_inline[dir=rtl] {
  text-align: unset !important;
}
.ck.ck-editor__editable_inline[dir=ltr] {
  text-align: unset !important;
}
.ck.ck-form__row {
  direction: ltr !important;
}
.wrs_toolbar, .wrs_toolbar * {
  font-family: 'Roboto' !important;
  direction: ltr !important;
  text-align: left !important;
}
.ck.ck-labeled-field-view .ck-labeled-field-view__status {
  direction: ltr;
}
/* .ck p {
  text-align: right;
}
.ck {
  direction: rtl !important;
  text-align: right !important;
} */
.ck.ck-input-color {
  flex-direction: row !important;
}

.ck.ck-form .ck.ck-dropdown .ck-dropdown__button {
  position: relative;
}

.ck.ck-form .ck.ck-dropdown .ck-dropdown__arrow {
  position: absolute;
  right: 3px;
}
.ck.ck-dropdown .ck-dropdown__arrow {
  margin-left: 0 !important;
  margin-right: 3px !important;
}

.dir-ltr{
  direction: ltr !important;
}

a {
  cursor: pointer !important;
}
a:hover  {
  text-decoration: none !important;
}
.text-2rem {
  font-size: 2rem !important;
}
.text-3rem {
  font-size: 3rem;
}
.text-half-rem {
  font-size: .5rem;
}
.cdk-overlay-connected-position-bounding-box {
  direction: ltr !important;
} 
.mat-menu-item .mat-icon {
  margin-right: 0 !important;
  margin-left: 1rem;
}

/* .ck.ck-editor__main * {
  text-align: initial !important;
} */
body {
  background-color: #f1f4f6 !important;
  direction: rtl ;
  font-family: IRANSans !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-expansion-panel-body a{
  border-top: 1px solid white;
  color:black !important;
  justify-content: center;
}
.mat-expansion-panel-spacing {
  margin-top: 0 !important;
}
.page-container {
  padding: 2rem 2rem;
}

.section {
  margin-top: .6rem;
  margin-bottom: .6rem;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: .23rem;
  box-shadow: 0 1px 5px gray;
  /* height: 100%; */
}
.section-gray {
  margin-top: .6rem;
  margin-bottom: .6rem;
  padding: 1rem 1rem;
  background-color: rgb(253, 244, 244);
  border-radius: .23rem;
  box-shadow: 0 1px 5px gray;
}
.section-warning {
  margin-top: .6rem;
  margin-bottom: .6rem;
  padding: 1rem 1rem;
  background-color: #FFB300;
  border-radius: .23rem;
  box-shadow: 0 1px 5px gray;
}

::placeholder {
  font-size: .7rem;
  color: #9ba09f;
}
:focus {
  outline: none;
}

.breadcrumb {
  background-color: white !important;
}
th {
  font-weight: 500 !important;
  color: #17a2b8;
}
.intro-left-img {
  width: 33% !important;
}
.auto-AR {
  height: auto !important;
  width: auto !important;
}

label {
  font-size: .8rem;
}
.alert-small {
  color: red !important;
  font-size: .6rem !important;
  text-align: center !important;
  cursor: pointer;
}
span.selected-item.ng-star-inserted {
  direction: ltr !important;
}

.form-content {
  padding: 1rem 1.5rem;
  vertical-align: middle;
}
.form-layout {
  border-radius: .25rem;
  min-width: 23rem;
  max-width: 23rem;
  min-height: 30rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.my-carousel .carousel-cell img {
  width: 80% !important;
}
.my-carousel .carousel-arrow {
  height: 70px !important;
  width: 40px !important;
  border-radius: 15px !important;
}
.my-carousel .carousel-arrow-next {
  right: -40px !important;
}
.my-carousel .carousel-arrow-prev {
  left: -40px !important;
}

.carousel-cells {
  direction: ltr !important;
}
.carousel-container {
  direction: ltr !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

li.carousel-slide {
  height: 100% !important;
}
ul.carousel-list {
  flex-direction: row !important;
  height: 100% !important;
}
div.carousel-slide {
  position: relative !important;
  background-size: contain !important;
}

div.carousel {
  height: 100% !important;;
}

.myBtn {
  padding: .5em 2em;
  background-color: #49aab1;
  border: 1px;
  border-radius: 1em;
  text-align: center;
}

.input-group-pre + input  {
  border: 0;
}
.input-group-pos .input-group-pre {
  border: 0;
}

.img-icon {
  max-width: 1.2rem;
  min-width: 1.2rem;
}

.input-group-pre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: white;
  min-width: 15%;;
}

.input-group-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white;
  min-width: 20%;
}

.input-group-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* material changes */
button.mat-menu-item {
  text-align: right !important;
  direction: rtl !important;
}
.mat-menu-item-submenu-trigger {
  padding-left: 2rem !important;
  padding-right: 1rem !important;
}
.mat-menu-item-submenu-trigger::after {
  left: 16px !important;
  right: inherit !important;
  border-width: 5px 5px 5px 0 !important;
  border-color: transparent currentColor transparent transparent !important;
}
/* .cdk-overlay-container .cdk-overlay-connected-position-bounding-box:nth-child(2) {
  right: 19% !important;
 transform: translateY(-30px);
  left: 0;
}
.cdk-overlay-container .cdk-overlay-connected-position-bounding-box:nth-child(3) {
  right: 26% !important;
  left: 0;
} */
button.mat-menu-item {
  outline: none !important;
}
td.mat-cell {
  text-align: center;
  font-size: 12px;
}
.mat-header-cell {
  font-size: 10px;
}
.mat-sort-header-container {
  justify-content: center;;
}
.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
  background: #b7dace !important;
}
.mat-horizontal-stepper-header .mat-step-icon {
  margin-left: 8px;
}
.mat-form-field {
  text-align: right !important;
}

.mat-checkbox-inner-container {
  margin-right: 0 !important;
  margin-left: 8px !important;
}

.mat-radio-label-content {
  padding-right: 4px !important;
  padding-left: 0 !important;
}
.mat-radio-button {
  margin-left: 1rem;
}

.mat-vertical-stepper-header .mat-step-icon {
  margin-right: 0 !important;
  margin-left: 8px !important;
}
.mat-vertical-content-container {
  margin-left: 0px !important;
  margin-right: 36px !important;
}
.mat-stepper-vertical-line::before {
  right: 0 !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-left: none !important;
}

.mat-tab-label {
  border: 1px solid gray;
}
.mat-tab-body-content {
  background-color: white;
}
.mat-tab-group {
  padding-right: 2rem;
  padding-left: 2rem;
}

.mat-tab-label-active {
  background-color: white;
}
.material-icons {
  font-family: 'Material Icons' !important;
  text-align: left !important;
}
/* .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white !important;
  padding-top: 0 !important;
} */
.mat-button-toggle-checked {
  background: #17a2b8 !important;
}
.mat-button-toggle-group {
  width: 8rem !important;
}
.mat-button-toggle {
  width: 50% !important;
}
.mat-button-toggle-button {
  outline: 0 !important;
}
.mat-icon-button {
  outline: none !important;
  text-align: center !important;
}
.icon-btn {
  outline: none !important;
  border: 0 !important;
  text-align: center !important;
}
.mat-checkbox-checked .mat-checkbox-background {
  background-color: teal !important;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled) .mat-ripple-element,
 .mat-checkbox:active:not(.mat-checkbox-disabled) .mat-ripple-element {
   background: teal !important;
   background-color: teal !important;
}

.input-for-chips .mat-form-field-flex {
  border: 1px solid rgb(231, 212, 212) !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0 .5rem;
}

.mat-chip {
  direction: ltr !important;
  text-align: left !important;
}
.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
  margin-left: 3px !important;
    margin-right: 0px !important;
}
.mat-standard-chip {
  border-radius: 6px !important;
  background-color: #12a3b8 !important;
  color: white !important;
  font-size: 11px !important;
}
.mat-form-field-infix {
  padding-top: 0px !important;
    border-top-width: 5px !important;
    padding-bottom: 5px !important;
}
/* .cdk-overlay-connected-position-bounding-box:first-child {
  transform: translate(-250px, -23px) !important;
} */

/* cdk-overlay-0 {
  transform: translate(-250px, -23px) !important;

} */
/* material changes ends */

/* bootstrap changes */
.inline-form-control {
  display: inline-block;
  width: 75%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 0 !important;
  padding-left: .5rem !important;
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: 0 !important;
  align-items: center;
}
/* bootstrap changes end */
/* ng5-slider */
.ng5-slider .ng5-slider-pointer{
  width: 14px !important;
  height: 14px !important;
  top: -5px !important;
}

.ng5-slider .ng5-slider-pointer:after {
  width: 4px !important;
  height: 4px !important;
  top: 5px !important;
  left: 5px !important;
}

.ng5-slider .ng5-slider-bubble {
  bottom: 11px !important;
  font-size: 11px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  background: teal !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  color: teal !important;
  background-color: white !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:after {
  border-color: teal !important;
}

.text-sm {
  font-size: smaller;
}
@media only screen and (min-width: 768px) {
  .section-md-gray {
    background-color: rgba(220, 225, 228, 0.87);
    padding: .5rem .5rem;
    margin: 1rem 1rem;
    border-radius: .34rem;
  }
  .section-md {
    margin-top: .6rem;
    margin-bottom: .6rem;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: .23rem;
    box-shadow: 0 1px 5px gray;
  }
}

@media only screen and (max-width: 768px) {
  .section-md-gray, .section, .page-container {
   padding:.5rem .2rem;
   margin: 1rem .2rem;
   border-radius: .23rem;
  }
  .section-sm {
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: .6rem .6rem;
    background-color: white;
    box-shadow: 0 1px 5px gray;
    border-radius: .23rem;
  }
  .preMD-w40 {
    width: 40%;
  }
  .text-sm-small {
    font-size: smaller;
  }
}

@media only screen and (max-width: 576px) {
  .text-mobile-small {
    font-size: smaller;
  }
}
.intro-left-img {
  width: 100% !important;
}


.mat-menu-trigger {
  outline: none !important;
  border: 0;
  background-color: #006d94 !important;
}

@media only screen and (max-width: 1200px) {
  .intro-left-img {
    width: 32% !important;
  }
  /* .cdk-overlay-container .cdk-overlay-connected-position-bounding-box:nth-child(2) {
    right: 25% !important;
    left: 0;
  }
  .cdk-overlay-container .cdk-overlay-connected-position-bounding-box:nth-child(3) {
    right: 36% !important;
    left: 0;
  } */
}
.cursor-pointer {
  cursor: pointer;
}

.my-table {
  width: 100% !important;
}

.my-thead {
  border-bottom: 1px solid gray;
  line-height: 3rem !important;
}

.my-tr {
  box-shadow: 0  1px 3px rgba(0,0,0,.3);
  background-color: #F1F4F6;
  border-radius: .45rem;
  line-height: 3rem;
  border-bottom: 2px solid white;
}
.my-tr:first-child {
  padding-right: .5rem;
}
.breadcrumb-item a {
  color: #17a2b8 !important;
}
.file-input {
  display: none !important;
}

.mat-progress-bar {
  height: 10px !important;
  border-radius: .25rem;
}
.mat-progress-bar-fill::after {
  background-color: #17a2b8 !important;
}
.col-1 .mat-icon {
   color: #17a2b8;
   cursor: pointer;
}
.mat-expansion-panel {
  background-color: white;
  color: black;
}
.input-group {
  direction: ltr !important;
}
.input-group-prepend {
  z-index: 0;
}
mat-icon {
  cursor: pointer;
}

/* .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(23, 162, 184, 1)
}
.mat-form-field-appearance-fill * {
  color: white !important;
}
*/
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #008080 !important;
} 
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #008080;
}
.dropdown-btn {
  text-align: right !important;
}
.dropdown-btn span{
  margin-right: .5rem;
}
.dropdown-down {
  margin-right: -10px !important;
}
.btn {
  min-width: 150px;
}

.my-tr td:not(.first-td){
  text-align: center;
}

th:not(.first-th) {
  text-align: center;
}

.first-td {
    width: 300px;
    height: 150px;
}
.first-td img {
    width: 120px;
    height: 80px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .25rem;
}
.first-td a {
    display: flex;
    justify-content: center;
    align-items: center;
}
td p {
    margin-bottom: 0;
}
table a {
    color: #0477a5;
    font-weight: 450;
}
td p {
    text-align: center;
}

.select-items {
  background-color: black !important;
}
.select-selected {
  background-color: rgb(202, 30, 30) !important;

}

.ltr {
  text-align: left !important;
  direction: ltr !important;
}
.mat-tab-label {
  padding: 0 10px !important;
}
.mat-tab-label .mat-tab-label-content {
  font-size: .7rem !important;
}
.tab-content {
  padding: 2rem;
}
.chooseAddress select {
  font-size: 13px;
}

.dropdown-down, .dropdown-btn span {
  margin-right: 0 !important;
  margin-left: 2px;
}