.group-attributes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}
.group-attributes >input {
    max-width: 250px;
}
.attr-name {
    width: 150px;
}